@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import "@flaticon/flaticon-uicons/css/all/all";
@import "tailwindcss";


@theme {

  --color-background-primary: #0a0a0a;
  --color-text-primary: #00ffff;
  --color-accent-high-priority: #00ffff;

}

html{
  font-family: 'Lexend', sans-serif;
  background-color: var(--color-background-primary);
  color: var(--color-text-primary);
}

body{
  @apply pl-2 pt-4;
}

i{
  @apply flex items-center justify-center;
}


@utility smooth-300{
  transition: all 0.3s ease-in-out;
}